body {
    text-align: center;
}

/* button {
    margin-top: 10px;
} */

.image {
    width: 960px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.left {
    background: #ffffff;
    width: 334px;
    height: 403px;
    position: absolute;
    left: 70px;
    top: 181px;
    overflow: auto;
}

.right {
    background: #ffffff;
    width: 334px;
    height: 403px;
    position: absolute;
    left: 556px;
    top: 181px;
    overflow: auto;
}

.head_l {
    vertical-align: middle;
    text-align: left;
    background: #6b6b6b;
    width: 334px;
    height: 45px;
    position: absolute;
    left: 70px;
    top: 136px;
    overflow: none;
    color: #b1b1b1;
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
}

.head_r {
    vertical-align: middle;
    text-align: left;
    background: #6b6b6b;
    width: 334px;
    height: 45px;
    position: absolute;
    left: 556px;
    top: 136px;
    overflow: none;
}

.language {
    text-align: left;
    position: absolute;
    top: 80px;
    left: 825px;
    transform: rotate(-90deg);
}

.jpn {
    display: block;
}

.eng {
    display: none;
}

.bt-back {
    position: absolute;
    height: 40px;
    top: 2px;
    left: 5px;
}

.bt-back:hover {
    position: absolute;
    height: 40px;
    top: 2px;
    left: 5px;
    filter: brightness(2);
}